In [12]:
import numpy as np
import pandas as pd

In [15]:
# creating Series in pandas
s = pd.Series([1,2,3,np.nan,4,5])
print(s)

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [17]:
#creating date 
d = pd.date_range('20200301', periods=10)
print(d)

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [24]:
#creating Data Frames
df = pd.DataFrame(np.random.randn(10,4), index=d, columns=['A','B','C','D'])
print(df)

                   A         B         C         D
2020-03-01  0.668867  1.162614  1.248366  1.702669
2020-03-02 -1.251321 -0.341452  0.382724  1.777649
2020-03-03  0.192027  0.795659 -0.673106 -0.411734
2020-03-04 -0.454698 -0.272750  0.186948 -1.554919
2020-03-05  0.561045 -0.540262  0.125992  0.705066
2020-03-06 -0.957678 -0.047042 -0.469116  1.271860
2020-03-07  1.653622  0.380297  2.301234 -0.064362
2020-03-08 -1.300346  0.432224 -0.438814  0.054563
2020-03-09 -0.438396  0.289973 -1.780725  0.292614
2020-03-10 -0.719933 -0.554220 -0.554269  0.213915

In [30]:
# Creating data frame by typing
df = pd.DataFrame({'A' : [1,2,3,4],
                  'B' : pd.Timestamp('20200301'),
                  'C' : pd.Series(1,index=list(range(4)),dtype=float),
                  'D' : np.array([5]* 4,dtype=int),
                  'E' : pd.Categorical(['test','train','true','false'])})
print(df)

   A          B    C  D      E
0  1 2020-03-01  1.0  5   test
1  2 2020-03-01  1.0  5  train
2  3 2020-03-01  1.0  5   true
3  4 2020-03-01  1.0  5  false

In [31]:
df.dtypes

A             int64
B    datetime64[ns]
C           float64
D             int32
E          category
dtype: object

In [34]:
# head show top 5 values and tail shows last 5 values
df.head()
df.tail()

   A          B    C  D      E
0  1 2020-03-01  1.0  5   test
1  2 2020-03-01  1.0  5  train
2  3 2020-03-01  1.0  5   true
3  4 2020-03-01  1.0  5  false

In [36]:
# converting to numpy array
df.to_numpy()

array([[1, Timestamp('2020-03-01 00:00:00'), 1.0, 5, 'test'],
       [2, Timestamp('2020-03-01 00:00:00'), 1.0, 5, 'train'],
       [3, Timestamp('2020-03-01 00:00:00'), 1.0, 5, 'true'],
       [4, Timestamp('2020-03-01 00:00:00'), 1.0, 5, 'false']],
      dtype=object)

In [37]:
# to show the description 
df.describe()

              A    C    D
count  4.000000  4.0  4.0
mean   2.500000  1.0  5.0
std    1.290994  0.0  0.0
min    1.000000  1.0  5.0
25%    1.750000  1.0  5.0
50%    2.500000  1.0  5.0
75%    3.250000  1.0  5.0
max    4.000000  1.0  5.0

In [39]:
# sorting in reverse order
df.sort_index(axis=1,ascending=False)

       E  D    C          B  A
0   test  5  1.0 2020-03-01  1
1  train  5  1.0 2020-03-01  2
2   true  5  1.0 2020-03-01  3
3  false  5  1.0 2020-03-01  4

In [40]:
df.sort_index(axis=1, ascending=True)

   A          B    C  D      E
0  1 2020-03-01  1.0  5   test
1  2 2020-03-01  1.0  5  train
2  3 2020-03-01  1.0  5   true
3  4 2020-03-01  1.0  5  false

In [41]:
# sort by using a column 
df.sort_values(by='C')

   A          B    C  D      E
0  1 2020-03-01  1.0  5   test
1  2 2020-03-01  1.0  5  train
2  3 2020-03-01  1.0  5   true
3  4 2020-03-01  1.0  5  false

In [49]:
#show the output on the screen
print(df)
print(df['C'])
print(df[:2])
print(df.loc[:'A','C'])
print(df.iloc[3])

   A          B    C  D      E
0  1 2020-03-01  1.0  5   test
1  2 2020-03-01  1.0  5  train
2  3 2020-03-01  1.0  5   true
3  4 2020-03-01  1.0  5  false
0    1.0
1    1.0
2    1.0
3    1.0
Name: C, dtype: float64
   A          B    C  D      E
0  1 2020-03-01  1.0  5   test
1  2 2020-03-01  1.0  5  train
0    1.0
1    1.0
2    1.0
3    1.0
Name: C, dtype: float64
A                      4
B    2020-03-01 00:00:00
C                      1
D                      5
E                  false
Name: 3, dtype: object

In [59]:
# to work with null
print(df.isnull().count)
print(df.isnull())
df.dropna      # to drop n/a values
df.fillna(value=23)    # to fill the n/a values to the 23
pd.isna(df)

<bound method DataFrame.count of        A      B      C      D      E
0  False  False  False  False  False
1  False  False  False  False  False
2  False  False  False  False  False
3  False  False  False  False  False>
       A      B      C      D      E
0  False  False  False  False  False
1  False  False  False  False  False
2  False  False  False  False  False
3  False  False  False  False  False